{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>This is the year 2019 MyCourses page of the CS-E4400 Design of WWW Services course. Please, open the sidebar to see different sections of the course.

This term we will be using Piazza for class discussion. The system is highly catered to getting you help fast and efficiently from classmates, the TA, and myself. Rather than emailing questions to the teaching staff, I encourage you to post your questions on Piazza. If you have any problems or feedback for the developers, email team@piazza.com.

Find our class page at: https://piazza.com/aalto.fi/fall2019/cse4400/home

I recommend that you register to Piazza with your Aalto email address. You can use Piazza to find teammates for the project assignment.</p>
{% endblock content %}
